<header>
  <div class="header-wrapper">
    <button type="button" (click)="toggleModal()">Cadastrar tarefa</button>
    <div class="search-box">
      <input class="search-input" type="text" [(ngModel)]="filter.title" name="filter.title" placeholder="Pesquise por título">
      <a href="#" class="search-btn" (click)="filterTasks($event)">
        <i class="fas fa-search"></i>
      </a>     
    </div>
  </div>
</header>

<main>
  <div class="task-card" [ngClass]="{'completed': task.isCompleted, 'late': isLate(task.limitDate)}" *ngFor="let task of filteredTasks; let taskIndex = index">
    <div class="task-card-header">
      <h2>{{task.title}}</h2>
      <div class="actions">
        <input type="checkbox" (click)="toggleCompletion(taskIndex)"/>
        <button class="fa fa-trash" (click)="removeTask(task._id)"></button>
      </div>
    </div>
    <div class="task-card-description">
      <p #p [ngClass]="{'hide-text': isTextBiggerThan2Lines(p, task.description)}">
        {{task.description}}
      </p>
      <p><b>Data limite: </b>{{task.limitDate}}</p>
      <button #btn (click)="toggleText(btn)" *ngIf="isTextBiggerThan2Lines(p, task.description)">Mostrar mais</button>
    </div>
    <div class="task-card-footer">
      <div class="tag-item" *ngFor="let tag of task.tags">
        <span>{{tag}}</span>
        <i class="fa fa-times" (click)="removeTagFromTask(taskIndex, tag)"></i>
      </div>
    </div>
  </div>
</main>

<div class="modal" [ngClass]="{'visible': isModalVisible}">
  <label class="modal__bg" for="modal-1" (click)="toggleModal()"></label>
  <div class="modal__inner">
    <h2>Inserir nova tarefa</h2>
    <label class="modal__close" for="modal-1" (click)="toggleModal()"></label>
    <form (ngSubmit)="formSubmit()">
      <div class="form-group">
        <i class="fa fa-pen-alt"></i>
        <input type="text" id="newTaskTtile" placeholder="Título" [(ngModel)]="newTask.title" name="newTask.title" />
      </div>

      <div class="form-group">
        <i class="fa fa-calendar-alt"></i>
        <input type="date" id="newTaskTdate" placeholder="Data Limite" [(ngModel)]="newTask.limitDate" name="newTask.limitDate" />
      </div>

      <div class="form-group">
        <i class="fa fa-file-signature"></i>
        <textarea id="newTaskDescription" placeholder="Descrição" rows="5" [(ngModel)]="newTask.description" name="newTask.description" >
        </textarea>
      </div>

      <div class="form-group">
        <i class="fa fa-tags"></i>
        <input type="text" id="newTaskTtags" placeholder="Tags" [(ngModel)]="newTask.tagsForm" name="newTask.tagsForm" />
        <p class="tip">Separe as tags por víngula.</p>
      </div>

      <div class="form-group">
        <input type="submit" value="Salvar" />
      </div>
    </form>
  </div>
</div>