<!-- <header>
  <input type="text" />
  <input type="text" />
  <input type="text" />
  <input type="text" />
  <button type="button">Cadastrar tarefa</button>
</header> -->

<main>
  <div class="task-card" *ngFor="let task of tasks; let taskIndex = index">
    <div class="task-card-header">
      <h2>{{task.title}}</h2>
      <div class="actions">
        <input type="checkbox" />
        <button class="fa fa-trash" (click)="removeTask(task._id)"></button>
      </div>
    </div>
    <div class="task-card-description">
      <p #p [ngClass]="{'hide-text': isTextBiggerThan2Lines(p, task.description)}">
        {{task.description}}
      </p>
      <button #btn (click)="toggleText(btn)" *ngIf="isTextBiggerThan2Lines(p, task.description)">Mostrar mais</button>
      <p><b>Data limite: </b>{{task.limitDate}}</p>
    </div>
    <div class="task-card-footer">
      <div class="tag-item" *ngFor="let tag of task.tags">
        <span>{{tag}}</span>
        <i class="fa fa-times" (click)="removeTagFromTask(taskIndex, tag)"></i>
      </div>
    </div>
  </div>
</main>