<!-- <header>
  <input type="text" />
  <input type="text" />
  <input type="text" />
  <input type="text" />
  <button type="button">Cadastrar tarefa</button>
</header> -->

<main>
  <div class="task-card" *ngFor="let task of tasks">
    <div class="task-card-header">
      <h2>{{task.title}}</h2>
      <div class="actions">
        <input type="checkbox" />
        <button class="fa fa-trash"></button>
      </div>
    </div>
    <div class="task-card-description">
      <p>
        {{task.description}}
      </p>
      <p><b>Data limite: </b>{{task.limitDate}}</p>
    </div>
    <div class="task-card-footer">
      <div class="tag-item" *ngFor="let tag of task.tags">
        <span>{{tag}}</span>
        <i class="fa fa-times"></i>
      </div>
    </div>
  </div>
</main>